#root {
  width: 100%;
}

.navlink,
.navlink:visited,
.navlink:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a,
a:visited,
a:hover {
  color: black;
}

.navlink.active,
.navlink.active:visited {
  text-decoration: underline;
}

.hide {
  display: none;
}

.errorList {
  list-style: disc;
}

.center-cell {
  text-align: center;
}

.btn.active {
  text-decoration: underline;
}

datalist {
  display: flex;
  justify-content: space-between;
  color: black;
  width: 100%;
}

input[type='range']::-webkit-slider-thumb {
  background-color: var(--bs-success-bg-subtle);
}
@media screen and (orientation: portrait) {
  .orientation-sensitive.show-portrait {
    display: block;
  }
  .orientation-sensitive.show-landscape {
    display: none;
  }
}

@media screen and (orientation: landscape) {
  .orientation-sensitive.show-portrait {
    display: none;
  }
  .orientation-sensitive.show-landscape {
    display: block;
  }
}
